html, body {
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: auto;
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: stretch;
    grid-auto-flow: dense;
}

.item:hover {
    background-color: grey;
}

.detail {
    grid-auto-columns: min-content;
}


header, footer{
    grid-column: 1 / -1;
}

.item{
    text-align: center;
}

