{{ define "main" }}
  {{ .Content }}

  <h2>Latest</h2>
  {{ $pages := where .Site.RegularPages "Section" "not in" (slice "exhibitions" "cv") }}
  {{ range first 5 (sort $pages "Date" "desc") }}
    <article>
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format "1 March 2006" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <p>{{ .Summary }}</p>
    </article>
  {{ end }}

  <h2>Contact</h2>
  andreas at gajdosik dot org

{{ end }}
