{{ define "main" }}
  {{ .Content }}

  <!-- Politically Engaged, Digitally Uncaged -->
  <!-- Art as Intervention in Networks, Politics & Culture -->

  <h1>Latest Updates</h1>
  {{ $pages := where .Site.RegularPages "Section" "not in" (slice "exhibitions" "cv") }}
  {{ range first 10 (sort $pages "Date" "desc") }}
    <article>
      
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format "2 January 2006" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      |
      <a href="{{ .Site.BaseURL }}{{ .Section | urlize }}">{{ index .Site.Params.sectionSingularNames .Section | default .Section }}</a>
      
      {{ with .Params.tags }}>{{ end }}
      {{ range .Params.tags }}
        <a class="tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">#{{ . }}</a>
      {{ end }}
      
      <p>{{ .Summary }}</p>
    </article>
  {{ end }}

  <h2>Contact</h2>
  andreas at gajdosik dot org

{{ end }}
